@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Lato:wght@400;900&family=Open+Sans:wght@400;700;800&family=Poppins:wght@200;400;600&family=Questrial&display=swap');


/* universal css */

:root{
    --primaryColor: #FD6E0A;
    --whiteColor: #fff;
    --backgroundColor: #FFF8F3;
    --darkColor: #181818;
    --grayColor: #474747;
    --textColor: #757575;
}
.container {
    width: 71.25rem;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.pText{
    color: var(--textColor);
    text-align: left;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.button-primary {
    color: #fff;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 1rem 2.25rem;
    border: none;
    cursor: pointer;
}
.button-secondary {
    color: #FD6E0A;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 1rem 2.25rem;
    border: 1px solid var(--primaryColor);
    cursor: pointer;
}
.margin{
    margin-top: 2rem;
}
/* Header Section CSS */

/* navbar start */
header {
    background: var(--backgroundColor);
}

nav {
    display: flex;
    justify-content: space-between; /* A special property to make am navbar with a space between Logo and pages*/
}

.nav-title{
    color: var(--darkColor);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav-title > .r{
    color: var(--primaryColor);
}


nav > ul{
    display: flex;
    column-gap: 3rem;
    align-items: center;
    
}

nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--grayColor)
}

/* navbar end */



/* Banner Section */

.banner{
    display: flex;
    align-items: center;
}
.banner img{
    width: 584px;
    height: 676px;
}